<component name="ArtifactManager">
  <artifact type="war" name="springshirodemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springshiro.war">
      <element id="artifact" artifact-name="springshirodemo:war exploded" />
    </root>
  </artifact>
</component>